/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.heading{
    margin-left:20%;
}
.myForm {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  width: 55em;
  padding: 1em;
  border: 1px solid #ccc;
  margin-left: 20%;
}

  .myForm * {
    box-sizing: border-box;
  }

  .myForm label {
    padding: 0;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    display: block;
  }
 
  .myForm input[type="text"],
  .myForm input[type="date"],
  .myForm select
  {
    float: right;
    width: 40%;
    margin-right: 34%;
    border: 1px solid #ccc;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.3em;
  }

  .myForm button {
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    font-weight: bold;
    margin-left: 38%;
    margin-top: 1.8em;
  }

    .myForm button:hover {
      background: #ccc;
      cursor: pointer;
    }
