################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.vs/PremiumCalculator/v16/Server/sqlite3
/PremiumCalculator.Test/bin/Debug/netcoreapp3.1
/PremiumCalculator.Test/obj
/.vs/PremiumCalculator/v16/TestStore/0
