<form ngNativeValidate class="myForm" #customerDetails="ngForm" (ngSubmit)="onSubmit(customerDetails.value)">
  <h2 class="heading">Simple Premium Calculator</h2>

  <p>Please Enter the below Details to view your premium:</p>

  <p>
    <label>
      Name
      <input type="text" placeholder="Enter Name" name="customername" required>
    </label>
  </p>
  <p>
    <label>
      Enter Date of Birth
      <input type="date" ngModel placeholder="Enter Date of Birth" name="birthdate" required>
    </label>
  </p>
  <p>
    <label>
      Sum Insured
      <input type="number" min="0" oninput="validity.valid||(value='');"ngModel placeholder="Sum Insured" name="suminsured" required>
    </label>
  </p>
  <p>
    <label>
      Choose Occupation
      <select id="occupation" ngModel name="occupation" required>
        <option value="" disabled selected>Select your occupation</option>
        <option value="cleaner">Cleaner</option>
        <option value="doctor">Doctor</option>
        <option value="author">Author</option>
        <option value="farmer">Farmer</option>
        <option value="mechanic">Mechanic</option>
        <option value="florist">Florist</option>
      </select>
    </label>
  </p>
  <label>Your Premium: <strong class="premium">{{ premium }}</strong></label>
  <button type="submit" class="btn btn-success">Calculate Premium</button>
</form>
